* {
    background-color: #34495e;
}

h1,
p,
ul {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    color: #f1c40f;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

p {
    color: white;
    font-size: 20px;
    
}

ul {
    list-style-type: none;
    overflow: hidden;
}

a,
li {
    color: #e74c3c;
    font-size: 20px;
}